<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rufflecol.lara.tweeter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/twitterlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TweeterApplication">        <!--android:name=".TweeterApplication" tells the application to load TweeterApplication instead of the default Application class-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c979dae1510dc9384a847dceff31f444dcb82e3" />

        <!--Login Screen-->
        <activity
            android:name="es.rufflecol.lara.tweeter.LoginScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity android:name="es.rufflecol.lara.tweeter.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginScreen" />
        </activity>

        <!--User Timeline-->
        <activity android:name="es.rufflecol.lara.tweeter.UserTimeline"
            android:label="@string/user_timeline"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--About Activity-->
        <activity
            android:name="es.rufflecol.lara.tweeter.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>
